<div class="column is-full-mobile is-one-third-tablet is-one-quarter-widescreen">
  <div class="card bm--card-equal-height">
    <div class="card-content">
      <%= link_to(user_path(user)) do %>
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= user.full_name %></p>
            <p class="subtitle is-6">@<%= user.slug %></p>
          </div>
        </div>
      <% end %>

      <div class="content">
        <p><%= user.introduction %></p>
        <p class="is-size-7">
          <%= friends_path(path) if defined? path %>
        </p>
        <p class="has-text-right is-size-6">
          <time datetime="<%= user.created_at %>">Created at <%= l(user.created_at, format: :short) %></time>
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to 'Edit', edit_user_path(user), class: 'card-footer-item' %>
      <%= link_to 'Destroy', user_path(user), method: :delete, class: 'card-footer-item', data: { confirm: 'Are you sure?' } %>
      <% if user.id != @current_user.neo4j_uuid && user.id != @current_user.id %>
        <%= invite_link_to(user) %>
      <% else %>
        <a href="#" class="card-footer-item">Me</a>
      <% end %>
    </footer>
  </div>
</div>
